@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ===============CSS VARIABLES=============== */
:root{
    --font-family: 'Poppins', sans-serif;
}
/* ===============UNIVERSAL CSS=============== */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: var(--font-family);
}
body{
    background: url(/Assets/bg-1.jpg);
    background-size: cover;
}